<header class="bg-dark text-white py-3">
    <div class="container">
        <h1>Biblioteca Trevizoli</h1>
        <nav>
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'listar_livros' %}">Listar Livros</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'listar_autores' %}">Listar Autores</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'listar_generos_crud' %}">Gêneros - CRUD</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'listar_editoras_crud' %}">Editoras - CRUD</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'listar_livros_crud' %}">Livros - CRUD</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'listar_autores_crud' %}">Autores - CRUD</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
