{% extends 'reusable/base.html' %}

{% block title %}Biblioteca Trevizoli - Detalhes Generos{% endblock %}

{% block content %}
    <main class="container mt-5">
        <h2>Detalhes do Gênero</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>ID:</strong> {{ genero.id }}</li>
            <li class="list-group-item"><strong>Nome:</strong> {{ genero.nome }}</li>
        </ul>
        <a href="{% url 'listar_generos_crud' %}" class="btn btn-secondary mt-3">Voltar</a>
    </main>
{% endblock %}
