{% extends 'reusable/base.html' %}

{% block title %}Biblioteca Trevizoli - Meus Empréstimos{% endblock %}

{% block content %}
    <main>

        <div class="container my-5">
            {% if emprestimos %}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover align-middle">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Usuário</th>
                            <th scope="col">Título do Livro</th>
                            <th scope="col">Data do Empréstimo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for emprestimo in emprestimos %}
                            <tr>
                                <td>{{ emprestimo.usuario }}</td>
                                <td>{{ emprestimo.livro }}</td>
                                <td>{{ emprestimo.data|date:"d/m/Y" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info text-center" role="alert">
                    Nenhum empréstimo encontrado.
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
