{% extends 'reusable/base.html' %}

{% block title %}Biblioteca Trevizoli - Criar Editora{% endblock %}

{% block content %}
    <main class="container mt-5">
        <h2>Criar Editora</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingName" placeholder="Nome da Editora" name="nome"
                       value="{{ form.nome.value|default:'' }}">
                <label for="floatingName">Nome da Editora</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingAddress" placeholder="Endereço da Editora"
                       name="endereco"
                       value="{{ form.endereco.value|default:'' }}">
                <label for="floatingAddress">Endereço da Editora</label>
            </div>

            <button type="submit" class="btn btn-success mt-3">Salvar</button>
            <a href="{% url 'listar_editoras_crud' %}" class="btn btn-secondary mt-3">Voltar</a>
        </form>
    </main>
{% endblock %}
