{% extends 'reusable/base.html' %}

{% block title %}Biblioteca Trevizoli - Deletar Editora{% endblock %}

{% block content %}
    <main class="container mt-5">
        <h2>Deletar Editora</h2>
        <p>Tem certeza que deseja deletar a editora <strong>{{ editora.nome }}</strong>?</p>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Deletar</button>
            <a href="{% url 'listar_editoras_crud' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </main>
{% endblock %}
