{% extends 'reusable/base.html' %}

{% block title %}Biblioteca Trevizoli - Detalhes Editora{% endblock %}

{% block content %}
    <main class="container mt-5">
        <h2>Detalhes da Editora</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>ID:</strong> {{ editora.id }}</li>
            <li class="list-group-item"><strong>Nome:</strong> {{ editora.nome }}</li>
            <li class="list-group-item"><strong>Endereço:</strong> {{ editora.endereco }}</li>
        </ul>
        <a href="{% url 'listar_editoras_crud' %}" class="btn btn-secondary mt-3">Voltar</a>
    </main>
{% endblock %}
