{% extends 'reusable/base.html' %}

{% block title %}Biblioteca Trevizoli - Perfil{% endblock %}

{% block content %}
    <main>
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card shadow-lg">
                        <div class="card-header bg-dark text-white text-center">
                            <h2 class="mb-0">Informações do Usuário</h2>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <p><strong>Nome:</strong> {{ user.get_full_name }}</p>
                            </div>
                            <div class="mb-3">
                                <p><strong>Email:</strong> {{ user.email }}</p>
                            </div>
                            <div class="mb-3">
                                <p><strong>Username:</strong> {{ user.username }}</p>
                            </div>
                            <div class="mb-3">
                                <p><strong>Data de Cadastro:</strong> {{ user.date_joined|date:"d/m/Y H:i" }}</p>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-primary mx-2">Editar Perfil</a>
                            <a class="btn btn-secondary mx-2">Alterar Senha</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
