{% extends 'reusable/base.html' %}

{% block title %}Biblioteca Trevizoli - Login{% endblock %}

{% block content %}
    <div class="container-principal">
        <div class="container-secundario">

            <div class="primeira-coluna">
                <h2 class="titulo titulo-primario">Seja muito bem-vindo!</h2>
                <p class="descricao descricao-primaria">Para se manter conectado conosco</p>
                <p class="descricao descricao-primaria">Faça seu login com suas informações pessoais!</p>
            </div>

            <div class="segunda-coluna">

                <h2 class="titulo titulo-secundario">Faça Seu login:</h2>

                <form class="formulario" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="rotulo-input" for="">
                        <i class="bi bi-person-circle icone-modificado"></i>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Username"
                               required>
                    </label>

                    <label class="rotulo-input" for="">
                        <i class="fas fa-lock icone-modificado"></i>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Senha"
                               required><br>
                    </label>

                    <button type="submit" class="btn-login">Login</button>


                    <a href="{% url 'register' %}" class="btn-login-cadastro">
                        <p>Ainda não tema uma conta? Cadastre-se</p>
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
