{% extends 'reusable/base.html' %}

{% block title %}Biblioteca Trevizoli - Detalhes Livro{% endblock %}

{% block content %}
    <main>
        <div class="container mt-5">
            <h2>{{ livro.titulo }}</h2>
            <p><strong>Autor:</strong> {{ livro.autor.nome }}</p>
            <p class="card-text"><strong>Editora:</strong> {{ livro.editora.nome }}</p>
            <p class="card-text"><strong>Gênero:</strong> {{ livro.genero.nome }}</p>
            <p><strong>Descrição:</strong> {{ livro.descricao }}</p>
            <p><strong>Ano de Publicação:</strong> {{ livro.ano_publicacao }}</p>

            <p><strong>Tags:</strong>
                {% if livro.tags.all %}
                    {% for tag in livro.tags.all %}
                        {{ tag.nome }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    Nenhuma tag disponível.
                {% endif %}
            </p>

            <a href="{% url 'listar_livros' %}" class="btn btn-success">Voltar</a>
            {% if user.is_authenticated %}
                <a href="{% url 'obter_livro' livro.pk %}" class="btn btn-sm btn-primary">
                    <i class="bi bi-book"></i> Obter Livro
                </a>
            {% endif %}
        </div>
    </main>
{% endblock %}
