{% extends 'reusable/base.html' %}

{% block title %}Biblioteca Trevizoli - Crud Livro{% endblock %}

{% block content %}

    <div class="container mt-5">
        <h2 class="mb-4">Gerenciar Livros</h2>

        <!-- Barra de Pesquisa -->
        <form method="GET" action="{% url 'listar_livros_crud' %}" class="mb-4">
            <div class="input-group">
                <input type="text" name="buscar" class="form-control"
                       placeholder="Pesquise por título, autor, editora, gênero ou tag"
                       value="{{ request.GET.buscar }}">

                {% if request.GET.buscar %}
                    <a href="{% url 'listar_livros_crud' %}" class="btn btn-secondary">Voltar</a>
                {% endif %}

                <button class="btn btn-primary" type="submit">
                    <i class="bi bi-search"></i> Pesquisar
                </button>
            </div>
        </form>
    
        <a href="{% url 'criar_livro' %}" class="btn btn-primary mb-3">
            <i class="bi bi-plus-circle"></i> Adicionar Livro
        </a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>Gênero</th>
                <th>Ano de Publicação</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for livro in page_obj %}
                <tr>
                    <td>{{ livro.id }}</td>
                    <td>{{ livro.titulo }}</td>
                    <td>{{ livro.autor.nome }}</td>
                    <td>
                        {% if livro.editora %}
                            {{ livro.editora.nome }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if livro.genero %}
                            {{ livro.genero.nome }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>{{ livro.ano_publicacao }}</td>
                    <td>
                        <a href="{% url 'detalhes_livro' livro.pk %}" class="btn btn-info btn-sm">
                            <i class="bi bi-info-circle"></i> Detalhes
                        </a>
                        <a href="{% url 'editar_livro' livro.pk %}" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <a href="{% url 'deletar_livro' livro.pk %}" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Deletar
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">Nenhum livro encontrado.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'reusable/paginator.html' %}

    </div>
{% endblock %}
